.galaxy-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.galaxy-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}